@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap";
@import "./assets/fonts/style.css";

body {
  font-family: "Poppins-Regular", sans-serif;
  color: #232323;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  overflow-x: hidden;
  height: 100%;
}

html {
  height: auto;
  scroll-behavior: smooth;
}

/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}

.cursor-pt {
  cursor: pointer;
}
